button {
    height: 90px;
    width: 290px;
    font-size: 28px;
    color: white;
    border: none;
    background-color: purple;
    transition-property: background-color color width;
    transition-duration: 2s;
    transition-delay: 2s;
}

button:hover{
    background-color: royalblue;
    color:black;
    width: 600px;
}